POSTGRES_USER=my_db_user_here
POSTGRES_PASSWORD=my_db_password_here
POSTGRES_DB=my_db_name_here
API_KEY=my_super_secret_api_key_here

# Federated Learning Check/Quorum
FL_ROUND_TIMEOUT=300
FL_ROUND_MIN_COMPLETION_PERCENTAGE=0.7

# MinIO Object Storage
MINIO_ROOT_USER=minioadmin
MINIO_ROOT_PASSWORD=minioadmin
MINIO_BUCKET=fl-models

# RabbitMQ
RABBITMQ_DEFAULT_USER=rmquser
RABBITMQ_DEFAULT_PASS=rmqpass
SPRING_RABBITMQ_HOST=localhost
SPRING_RABBITMQ_PORT=5672
SPRING_RABBITMQ_USERNAME=rmquser
SPRING_RABBITMQ_PASSWORD=rmqpass
